
<div class="card p-2">
    <div class="card-image-wrapper">
      <img *ngIf="property.Image" class="card-img-top" src='assets/images/{{property.Image}}.png' />
      <img *ngIf="!property.Image" class="card-img-top" src='assets/images/Home_Default.png' />

      <ul class="list-inline text-center member-icons animate">
        <li class="list-inline-item">
          <button class="btn-primary" routerLink="/property-detail/{{property.Id}}"><i class="fas fa-edit"></i></button>
        </li>
        <li class="list-inline-item">
          <button class="btn-primary"><i class="fas fa-address-book"></i></button>
        </li>
      </ul>
    </div>
    <div class="card-body text-center">
    <h3>{{property.Name}}</h3>
    <h4>{{property.Type}}</h4>
    <h5>{{property.Price}}</h5>
    </div>
  </div>
