.card-image-wrapper{
    overflow:hidden;
    position: relative;
}
.card:hover img{
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
  opacity: 0.5;
}
.card img{
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
}
.card-image-wrapper .member-icons{
  position: absolute;
  bottom: -50px;
  right:0;
  left: 0;
}
.card:hover .member-icons{
  bottom: 10px;
}
.animate{
  transform: all 0.3 ease-in-out;
}
